html,
body {
  width: 100% !important;
}

.carousel-item {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*
body {
  background: grey !important;
}
*/

/*
#navbar {
    height: 54px;
    overflow: hidden;
    background-color: #333;
    border-bottom: 1px solid black;
}
*/

/*
#navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none:
}
*/

/*
#navbar ul {
    height: 54px;
    overflow: hidden;
}
*/

/*
#navbar li {
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
    list-style: none;
    float: left;
    width: 15%;
}
*/

.title {
    padding: 8px;
}

.content {
    padding: 16px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .content {
    padding-top: 60px;
}
